[2015-05-18 01:57] Ironholds opened #1 "Add telize"
http://www.telize.com/

[2015-05-18 15:46] Ironholds opened #3 "Add hostip"
http://api.hostip.info/get_json.php?ip=12.215.42.19

[2015-05-20 08:44] #1 closed

[2015-05-20 08:49] Ironholds commented on #3
..I don't think this is a reliable database.

[2015-05-20 08:49] #3 closed

[2015-06-17 10:58] slatemine opened #7 "using "city_name" field with maxmind and 922 entries crashed the session"

[2015-06-17 10:59] slatemine opened #8 "maxmind method should support multiple field extraction"

[2015-06-17 11:00] slatemine opened #9 "maxmind method should support latitude and longitude"

[2015-06-17 15:53] Ironholds commented on #8
It does? Could you please provide an actual bug description of what the error is, where you're getting the error, how you're getting the error?

[2015-06-17 15:53] Ironholds commented on #7
Can you give an example and session information?

[2015-06-18 14:10] Ironholds commented on #8
Closing since there's no explanation of the actual bug.

[2015-06-18 14:10] #8 closed

[2015-06-18 14:11] Ironholds commented on #7
Closing since there's no explanation of the actual bug.

[2015-06-18 14:11] #7 closed

[2015-07-10 14:01] Ironholds opened #11 "CRAN issues"
node_value = record_info.left_record_getter(record_p

[2015-07-18 22:05] Ironholds opened #12 "Segfault from connection type geolocation"
Geolocating any IPs looking for the connection causes a segfault, and I dunno why. Huh! @wrathematics ideas for how to test for this? (happy to send over my copy of the con db if it'd be easiest)

[2015-07-19 22:56] wrathematics commented on #12
Can you post an example script where this happens?

[2015-07-19 23:11] Ironholds commented on #12
Well, it'll require the connection file, but if you have that: rgeolocate::maxmind("174.62.175.82",file_path,"connection_type")

[2015-07-20 14:38] Ironholds commented on #11
Now fixed through the source library and integrated!

[2015-07-20 14:38] #11 closed

[2015-07-20 15:04] wrathematics commented on #12
Running it through valgrind shows:

[code]

I'm not 100% sure I understand the maxminddb api, but this makes sense to me at the moment.  What would not make sense to me is any other `connection()` returning anything but "Unknown" (or segfaulting).  When I allocate space for `entry_data`, I can avoid the segfault, but the return is `<NA>`, which also seems to make sense, though probably isn't what

[2015-07-20 16:35] oschwald commented on #12
I am not sure if it is relevant, but the field is `connection_type` rather than `connection`. It should be a UTF-8 string if present.  [See the test data](https://github.com/maxmind/MaxMind-DB/blob/master/source-data/GeoIP2-Connection-Type-Test.json) and [database](https://github.com/maxmind/MaxMind-DB/blob/master/test-data/GeoIP2-Connection-Type-Test.mmdb). There shouldn't be anything special abo

[2015-07-20 16:56] Ironholds commented on #12
Yeah, if you look at the [relevant method](https://github.com/Ironholds/rgeolocate/blob/master/src/maxmind.cpp#L213) you'll see it's searching for <code>connection_type</code>. Huh.

I really can't see why this should be working and the others aren't, unless it's trying to convert the UTF-8 string to a std::string, in which case why on earth isn't it erroring for the others as well?

[2015-07-20 16:58] wrathematics commented on #12
The R api is using `connection`, but the `MMDB_get_value()` call uses `"connection_type"` as expected.

Internally, `MMDB_s *data` is passed in, and stripping it down to just the basics, it's basically calling:

[code]

What's being returned is a copy of the `utf8_string` field of `entry_data`.  But it looks to me like `MMDB_get_value()` doesn't set the data behind `MMDB_entry_data_s*`.  If I chan

[2015-07-20 18:15] Ironholds commented on #12
That's just weird; it worked perfectly on the old build. If only I had the old source code sitting somewhere.

[2015-07-20 21:14] Ironholds commented on #12
Okay @wrathematics ' patch somehow fixed the connection type issue. Perfect!

[2015-07-20 21:14] #12 closed

[2015-07-20 21:17] Ironholds opened #14 "Copyright status"
@oschwald :

So, we're planning on throwing this package up to CRAN, the archiva-like thing for R. Something they've pushed back on with previous submissions is copyright status and how we're describing it.

At the moment we list, as authors, myself, @wrathematics , Maxmind, Ltd. and Pascal Gloor, with the latter two identified explicitly as copyright holders. We then have a distinct "copyright" m

[2015-07-20 22:30] oschwald commented on #14
@Ironholds, as long as you are following the terms of the Apache 2 license and make it clear that the libmaxminddb files are distributed under the license, it should be fine. Based on what you said, it sounds like you are. (It is "MaxMind, Inc.", not "Ltd.", but that is inconsequential.)

@jasonketola, is there anything you want to add?

[2015-07-20 23:28] Ironholds commented on #14
On Apache 2, the licensing statements are left intact and the package metadata is marked as "this package is under apache 2.0". Just to be on the safe side I'll incorporate a full version of the license (and fix the Inc. problem, too!)

[2015-07-21 01:17] Ironholds commented on #14
Now done.

[2015-07-21 01:41] jasonketola commented on #14
@Ironholds, thanks for asking. If you follow @oschwald's advice above, you're a-ok.

[2015-07-21 01:44] Ironholds commented on #14
Great; thanks! With those patches and tweaks in I'll bundle it up and send it to CRAN.

[2015-07-21 03:15] #14 closed

[2015-07-27 17:45] wrathematics opened #15 "Portability issues"
As noted by Professor Ripley, there are significant [warnings](www.r-project.org/nosvn/R.check/r-devel-linux-x86_64-fedora-gcc/rgeolocate-00check.html) on Fedora with gcc:

[code]

And related errors on Solaris, [x86](https://www.r-project.org/nosvn/R.check/r-patched-solaris-x86/rgeolocate-00install.html) and [sparc](https://www.r-project.org/nosvn/R.check/r-patched-solaris-sparc/rgeolocate-00inst

[2015-07-27 17:45] wrathematics commented on #15
@Ironholds please assign to me and ping me in a few weeks if I haven't made progress (it means I probably forgot).

[2015-07-27 17:50] Ironholds commented on #15
Shall do!

[2015-08-08 00:26] soodoku opened #16 "Comparison across IP-Geo services"
Dear O,

It would be great to compare IP-Geo services outputs for a large quasi-random set of IPs. It would be nice to know how much overlap there is between the services and in which places disagreement (we should measure the distance between lat/long) is the greatest. Nothing comprehensive can perhaps can come from this but it may provide useful insights.

[2015-09-05 21:02] Ironholds commented on #15
@wrathematics poooke. We're getting queries from CRAN on this and other issues and I'd like to be able to submit a bundled fix.

[2015-09-05 21:03] Ironholds opened #17 "Deprecate freegeoip"
It's unreliable as all hell and the non-deterministically failing unit tests whenever their servers go down are pissing off me, CRAN and our users in that order.

[2015-09-05 21:09] #17 closed

[2015-09-05 21:52] oschwald commented on #15
Given that you are embedding and not even using the uint128 database type, it might be easiest to just set `MMDB_UINT128_USING_MODE` to `0` and `MMDB_UINT128_IS_BYTE_ARRAY` to `1` for all users.

[2015-09-05 22:08] wrathematics commented on #15
Oh, that makes sense.  Would also simplify the build significantly.  I'll try that in a minute here.

Thanks!

[2015-09-05 22:12] wrathematics commented on #15
Wait, I seem to recall having trouble setting `MMDB_UINT128_USING_MODE` to `0` on win64.

@Ironholds, do you have a win64 test vm?  I think all of mine are win32...

Edit: for clarity, I had a win64 vm at my old job, but no longer have the rights to use that vm.

[2015-09-05 22:22] oschwald commented on #15
`MMDB_UINT128_USING_MODE` [isn't even used](https://github.com/Ironholds/rgeolocate/blob/cfd74bdb0ffd42534aad12511a30a769b50d34ce/src/maxminddb.h#L73) if `MMDB_UINT128_IS_BYTE_ARRAY` is set to 1. I am not sure your existing win64 configuration is any different than your win32 one.

[2015-09-05 23:44] Ironholds commented on #15
@wrathematics I do! I won't be able to test it for a couple hours but I actually have a win64 _partition_

[2015-09-20 13:57] Ironholds commented on #15
@wrathematics okay, what's the status of the compile errors? I'd like to get a new release out with as many fixed as possible to appease the CRAN gods. If we're not all the way there, that's fine as long as we're in a place where we can point to progress.

[2015-09-20 18:36] wrathematics commented on #15
@ironholds Thought I was waiting on you.  I need the R CMD check logs from a Linux machine that fails (try travis), and solaris if you can manage it.

[2015-09-20 23:14] Ironholds commented on #15
Gotcha! I've tried Travis and it works like a charm; I think(?) I emailed you the Solaris login (did I not? Can resend)

[2015-09-21 13:08] Ironholds commented on #15
@wrathematics per Twitter user "Installed with no hurdles on Fedora 22, but "test_check" complained that there were no tests found." which is odd. But, no hurdles!

[2015-09-22 22:17] wrathematics commented on #15
@Ironholds Don't think I have the solaris login.  If you send it to me, I'll take a look at what the deal is.  I'm really wondering if dropping the `MMDB_UINT128_USING_MODE` stuff didn't fix it though.

[2015-09-22 22:35] Ironholds commented on #15
Done! There's also the GCC warns, of course, but hopefully this will indeed fix.

[2015-09-23 16:10] #9 closed

[2015-09-23 17:38] slatemine commented on #9
Like - good work :-)

[2015-10-13 07:51] Ironholds commented on #15
I submitted to CRAN to clean up some unit test errors that were annoying people, and guess what? The Solaris issues are fixed! A couple of warns but otherwise no issue - https://cran.r-project.org/web/checks/check_results_rgeolocate.html

[2015-10-13 07:51] #15 closed

[2015-10-13 20:26] wrathematics commented on #15
Makes sense.  But I don't see any warnings except on the few that haven't propagated from 0.4.1 to 0.5.0 yet.

If a warning pops up, I want to hear about it...eventually.  My schedule is inhuman right now 😭

[2015-11-17 01:27] daroczig commented on #16
This article is pretty outdated, but might be useful for some related ideas and methods: http://www.caida.org/publications/papers/2011/geocompare-tr/geocompare-tr.pdf

[2015-11-17 07:15] Ironholds opened #21 "Add functionality to refresh datasets"

[2015-11-17 07:15] Ironholds opened #22 "Refresh datasets"

[2015-11-28 01:21] Ironholds commented on #22
Fixed!

[2015-11-28 01:21] #22 closed

[2015-11-28 01:21] Ironholds commented on #21
Not doable without manky R.utils dependencies.

[2015-11-28 01:21] #21 closed

[2015-11-30 14:20] stenevang opened #23 "IP2LOCATION LITE support"
I have found that http://lite.IP2LOCATION.com offer free versions of their databases which are much more complete and accurate than the GeoLite2 City database from MaxMind. While the MaxMind database has about 3.2 million rows, the IP2LOCATION DB11 database has about 3.9 million rows. Also, the latitude and longitude values have six decimals in IP2LOCATION, while MaxMind has only four decimals.

T

[2015-11-30 14:40] Ironholds commented on #23
Looks like they have [a C API](http://www.ip2location.com/developers/c-7) we could look into integrating. @wrathematics and @hrbrmstr , thoughts? You know how I am with C ;p

[2015-11-30 14:51] wrathematics commented on #23
I can take a look after finals in a few weeks.

One thing to point out is that C library is LGPL v3 licensed.  I'm not a lawyer, but I think that creates an issue.  If you make it possible to link with the library (say using `--configure-args`) I think it's fine (wouldn't be if it were GPL v2 btw), but if you ship their code, I think the entire project must be LGPL licensed (and not merely LGPL "c

[2015-11-30 14:55] Ironholds commented on #23
Dealing with any GPL licenses makes me nervous _spits_.

So it looks like our options for integration then would be to ship this distinctly - which would literally be its own package, because they don't actually ship binaries - or entirely implement our own version, which, yuck.

[2015-11-30 15:08] wrathematics commented on #23
Well, the package is already linking with GPL software (Rcpp and R itself), so according to FSF lawyers, it's already part of a "larger" GPL licensed software.  Not every lawyer agrees about this by the way (contrary to what GPL zealots would have you believe).  No one really knows what's legal or not because this has never been tested in court.  But I think it's polite to respect authors' wishes

[2016-01-12 20:54] wabecerra opened #24 "Error: The geolocation database could not be opened - GeoLite2-City.mmdb"
Hello,

 When I try the following:

library(rgeolocate)
file <- system.file("extdata","GeoLite2-Country.mmdb", package = "rgeolocate")
results <- maxmind("196.200.60.51", file, c("continent_name", "country_code", "country_name"))

as this website shows: https://cran.r-project.org/web/packages/rgeolocate/vignettes/Introduction_to_rgeolocate.html

It works just fine. However, when I try to read the

[2016-01-12 21:22] Ironholds commented on #24
The binary or the CSV? Could you provide the code?

[2016-01-12 21:40] wabecerra commented on #24
The binary.

2016-01-12 16:22 GMT-05:00 Oliver Keyes notifications@github.com:

[2016-01-12 21:43] Ironholds commented on #24
Cool! And the code?

[2016-01-12 21:46] wabecerra commented on #24
This is the code I use:

library(rgeolocate);

setwd("mypath");

file <- system.file("extdata","GeoLite2-City.mmdb", package = "rgeolocate")
object <- maxmind(as.character(listObj), file, c("continent_name"))

2016-01-12 16:43 GMT-05:00 Oliver Keyes notifications@github.com:

[2016-01-12 21:51] Ironholds commented on #24
The fact that the example in the package points to the country database is deliberate; the country database is shipped with the R package. The city database is not, because it's much larger and CRAN doesn't like it when your package is hundreds of megabytes in size.

If you want to use the city databases you should download the city databases and point to those as the file argument. At the moment

[2016-01-12 21:51] #24 closed

[2016-01-12 21:51] Ironholds opened #25 "Improve the documentation to note we only ship with the country db, and link to where you can obtain the city db"

[2016-01-12 21:59] wabecerra commented on #24
I downloaded the City database, obviously, and I am also poiting to that data base (as shown in my code:)

Putting the whole path in the system.file function does not work either:

file <- system.file("extdata","C:/bigdata/Datos/DB/GeoLite2-Country.mmdb", package = "rgeolocate");
example <- maxmind("196.200.60.51", file, c("latitude"));

What am I doing wrong in this case?

Thank you very much for

[2016-01-12 22:10] wabecerra commented on #25
Just to add that I finally got your point. After downloading the City database and in case you want to use it you need to copy it in this path: "C:\Users\user\Documents\R\win-library\3.2\rgeolocate\extdata"

Thanks for all your help,

[2016-01-12 22:15] Ironholds commented on #25
No, I would seriously seriously recommend not doing that. At that point you're moving it into your R library. Those shouldn't be hand-modified.

Just point the function to where you've downloaded the file to, or included the file in your project. Do not copy the file to R. system.file() is explicitly for referring to files in installed R libraries. See ?system.file versus ?file.path (or just speci

[2016-01-12 22:23] wrathematics commented on #25
This would be a great example for the vignette imo.

[2016-01-12 22:24] Ironholds commented on #25
Agreed!

[2016-01-13 03:40] #25 closed

[2016-02-27 15:33] Ironholds opened #28 "Include connection type readers"
At some point.

[2016-02-27 16:53] #28 closed

[2016-05-08 17:02] Ironholds opened #30 "Incorporate batch-json"
see #29

[2016-10-17 22:26] Ironholds commented on #23
Note; I actually got permission to cross-license ip2location as apache2! https://github.com/chrislim2888/IP2Location-C-Library/issues/3#event-825424246

In config terms it shouldn't(?) be too much of a PITA to adapt? I'll find out.

[2016-10-17 23:19] Ironholds opened #31 "Refactor ip_to_df to provide NA support"
Hhhhow did I miss this

[2016-10-18 01:53] hrbrmstr commented on #23
it doesn't look too bad. I need to see what autoconf/configure generate for mingw & ubuntu/debian

[2016-10-18 03:18] Ironholds commented on #23
I'm having some luck with it, actually - seems like the only compiler flags
are a win32 flag libmaxminddb already relies on and a fairly standard Apple
thing. I think the Apple thing could be a problem, but I'm gonna get it
working first on my local and then worry about config.

On Monday, 17 October 2016, boB Rudis notifications@github.com wrote:

[2016-10-18 04:42] Ironholds opened #32 "Flip INVALID ADDRESS and '-' flags in ip2location to NA"
Before I forget, '-' - or 'unallocated' - should be an NA, for country code and name.

[2016-10-18 04:42] Ironholds opened #33 "Document ip2location stuff and add examples"
With the included test db:

rgeolocate:::ip2location_(ips = c("66.249.69.245","2A04:0000:0000:0000:0000:0000:0000:0000"), fields = "country_name", file = system.file("extdata","ip2_sample.bin", package = "rgeolocate"))

  country_name
  1 United States
  2       Germany

[2016-10-18 04:48] Ironholds commented on #16
Yeah, I thiiink this might be a PITA to do without access to the same datasets :(.

[2016-10-18 04:48] #16 closed

[2016-10-19 00:15] Ironholds commented on #23
Now internally integrated and takes _literally a minute_ to process 1m IPs. I'm going to refactor and see if that speeds things up (passing the results around may be more expensive than additional lookups? we'll see)

[2016-10-19 21:59] Ironholds commented on #23
So this is...integrated? In two forms.

The weird thing is it's slow. Like, really really slow. Like, the fastest I can make it go (using a teeny-fielded database and only looking for a couple of fields) is 10 times slower than MaxMind. Am I goofing the implementation, or is it a slow binary format, or..? But at this rate it'd take 30 seconds to handle 1m IPs, assuming you're using the smallest da

[2016-10-19 22:51] Ironholds commented on #23
Answer: I forgot memory caching was a thing. When used, we can process 1m IPs in 3 seconds. Not too shabby.

[2016-10-19 23:26] #32 closed

[2016-10-20 16:19] #33 closed

[2016-10-20 16:37] #31 closed

[2016-10-20 16:45] Ironholds opened #34 "ip2location Windows support"
Building on Windows gets:

`\* installing _source_ package 'rgeolocate' ...
*\* libs

**\* arch - i386
d:/Compiler/gcc-4.9.3/mingw_32/bin/gcc  -I"D:/RCompile/recent/R/include" -DNDEBUG    -I"d:\RCompile\CRANpkg\lib\3.4/Rcpp/include" -I"d:/Compiler/gcc-4.9.3/local330/include"     -pedantic -O3 -Wall  -std=gnu99 -mtune=core2 -c IP2Loc_DBInterface.c -o IP2Loc_DBInterface.o
IP2Loc_DBInterface.c: In fu

[2016-10-20 16:48] Ironholds commented on #34
@hrbrmstr you volunteered to take windoze for a spin, I think? Problems seem to be twofold:
1. Recognising inet_pton;
2. Getting information out of the stat struct defined in sys/stat.h without declaring it - I dunno if we want to just have a fake use for it, or what.

[2016-10-20 16:54] wrathematics commented on #34
`inet_pton` is nix only. If you don't care about XP, it's not too hard to write a shim to fix shit; if you do it's much harder. See https://github.com/wrathematics/getip/blob/master/src/validate.c

[2016-10-20 17:52] hrbrmstr commented on #34
I personally don't want to encourage use of XP and I think I also have a shim somewhere for it (but can steal that one as well). That reminds me that I need to get back to that ip pkg we bantered abt @wrathematics.

[2016-10-20 17:54] hrbrmstr opened #35 "add some nicities"
this is a volunteer issue (i.e. i volunteer to add these):
- `path.expand` to all functions that accept paths
- option or env var for db locations
- download function for geo dbs

[2016-10-20 18:09] wrathematics commented on #34
A lot of people still use it. I've never looked into CRAN's position, but I'm guessing they don't support it anymore, so it's really up to you is my guess. That file I linked is for ipv4 addresses on xp or later. If you assume at least vista, you need to give `InetPton` an `inet_pton` interface.

[2016-10-20 18:12] hrbrmstr commented on #34
as a security dude, encouraging use of XP in any capacity is really hard to do ;-) I'll dig up what I've done before (it's pretty much what you indicated).

[2016-10-25 18:18] Ironholds commented on #34
Aye; thought we'd (and by that I mean you and your brilliance) got around
it in the max mind chunk already..

On Thursday, 20 October 2016, Drew Schmidt notifications@github.com wrote:

[2016-11-28 07:00] Ironholds commented on #35
Ooh. Nice!

[2016-11-28 07:00] Ironholds commented on #34
Any thoughts/luck on this'n?

[2016-12-06 08:52] Ironholds opened #36 "Integrate wipmania?"
http://www.wipmania.com/en/api/#apitab_wie_a

[2016-12-19 21:16] hrbrmstr commented on #34
https://github.com/hrbrmstr/iptools/blob/master/src/asio_bindings.cpp#L20-L159

[2016-12-20 00:25] Ironholds commented on #34
yooou ROCK

[2016-12-21 23:38] #34 closed

[2016-12-22 00:14] Ironholds commented on #23
This should now be integrated and work on Windows!

[2016-12-22 00:14] #23 closed

[2016-12-22 00:14] #30 closed

[2017-01-07 20:45] Ironholds commented on #36
Their website is far too unreliable

[2017-01-07 20:45] #36 closed

[2017-01-07 20:59] lostchord opened #38 "Add support for ASN lookup"
Add support for ASN lookup using the MaxMind (legacy) database.

[2017-02-06 23:48] #38 closed

[2017-02-10 08:54] Ironholds opened #40 "test"

[2017-02-10 08:54] #40 closed

[2017-02-15 03:25] #35 closed

[2017-05-14 22:58] hrbrmstr opened #41 "gcc 7 toolchain (macos anyway)"
it's not building with gcc 7 toolchain but still does with old one. CRAN does not have a binary for 3.4 for macOS and that's likely due to the gcc 7 thing. i'll hit you up at work abt it.

[2017-05-15 00:57] wrathematics commented on #41
Builds for me in gcc 7 on Linux. The CRAN check error is clang related.

I fixed some of the compiler warnings in the latest gcc and clang.  I do not consider them real warnings; they were recently added to clang because of an error specific to MS compilers, and gcc has apparently decided to follow suit.  As much as I may disagree with their reasoning, it's not a hard fix.  However, I am unable to

[2017-05-15 01:03] oschwald commented on #41
AFAIK, we don't use `fread()`; it is all mmap based. Do you have a link to the build log?

[2017-05-15 01:04] wrathematics commented on #41
Oh you're right! My mistake. It's in another included library.

[2017-05-15 01:05] hrbrmstr commented on #41
I'll post the macOS build issues in the AM. in the middle of work-work at the moment (thx to WannCry)

[2017-06-21 16:50] CodyLikavec opened #43 "Error using .mmdb files"
Hello,

I'm finding an error when I'm trying to use one of the external .mmdb files. I have downloaded the GeoLite2-City. mmdb file from http://dev.maxmind.com/geoip/geoip2/geolite2/ . I've also installed libmaxminddb via homebrew. My terminal now says `Warning: libmaxminddb 1.2.1 is already installed` when I try to reinstall it. So I BELIEVE I have everything I need to use the .mmdb file.

This c

[2017-06-22 02:02] Ironholds commented on #43
Well, it works for me:

[code]

What's your R session information? For what it's worth you shouldn't need libmaxminddb at all - try seeing if removing it and then reinstalling the R package helps? (it shouldn't make a difference but hey)

[2017-06-22 16:50] CodyLikavec commented on #43
I've uninstalled libmaxmindb. I've reinstalled the rgeolocate package. Still doesn't run, unfortunately.

[code]

[2017-06-22 22:24] Ironholds commented on #43
What does file.info for the mmdb file say?

[2017-06-22 22:26] Ironholds commented on #43
And, do you get a different outcome if you use an absolute rather than relative path? (It shouldn't make a difference, but..)

[2017-06-22 22:26] Ironholds commented on #43
And last but not least; what does path.expand("./data/Geo....") produce?

[2017-06-22 23:01] CodyLikavec commented on #43
Wow. The absolute path worked and gives me results. It looks like something may be wrong with the relative path?

[code]

It looks like path.expand isn't actually showing the absolute path.

[2017-06-23 01:42] Ironholds commented on #43
Aye, it looks like it shouldn't be! Let's see. Try installing via:

[code]

And tell me if it works then (if so, I've fixed it - if not...I'm outta ideas)

[2017-06-23 15:26] CodyLikavec commented on #43
It works! Using the "./data/GeoLite2-City.mmdb" file path instead of the full path gave me results.

[2017-06-24 20:47] Ironholds commented on #43
That is, with the new version? And by that do you mean using the full path did _not_ work?

[2017-06-25 03:17] #43 closed

[2017-06-25 03:20] Ironholds commented on #41
I believe https://github.com/chrislim2888/IP2Location-C-Library would be the other included lib?

[2017-06-27 03:18] Ironholds commented on #41
This last patch should've fixed it, and I'll pass the changes over to the ip2location people too

[2017-06-27 03:18] #41 closed

[2017-10-19 18:52] bkag opened #44 "postal code for maxmind city databases"
Is it possible to add postal code as a field when searching the maxmind city file?

[2017-10-24 16:06] ashlevitt opened #45 "rgeolocate failed to compile from CRAN"
Tried `install.packages("rgeolocate")` and received the following errors:

`3 errors generated.
make: *** [maxmind.o] Error 1
ERROR: compilation failed for package ‘rgeolocate’
* removing ‘/Library/Frameworks/R.framework/Versions/3.4/Resources/library/rgeolocate’
Warning in install.packages :
  installation of package ‘rgeolocate’ had non-zero exit status`

[2017-11-06 19:43] Ironholds commented on #45
Were there any additional errors, and what platform are you on?

[2017-11-06 19:49] ashlevitt commented on #45
There were no other errors.

I was using:

R version 3.4.1
RStudio version 1.1.383
macOS Sierra version 10.12.6

Hope that helps. Let me know if you'd like me to try anything again.

On Mon, Nov 6, 2017 at 7:43 PM, Oliver Keyes <notifications@github.com>
wrote:

[2017-11-06 20:41] Ironholds commented on #45
Have you tried installing from the binary rather than from source?

[2017-11-09 20:49] Ironholds commented on #44
On it! I'm just waiting for OSX to note hate compiling from source.

[2017-11-09 20:50] Ironholds commented on #45
Hmn; now *I'm* running into weird errors - it looks like the way R3.4.0 is handling C++ is causing some issues. Let me see...

[2017-11-09 20:52] Ironholds commented on #45
@wrathematics any idea why rgeolocate'd fail on R3.4.0 on macs? I've run into issues compiling it myself and can sort of conceptually get what changed _with_ 3.4.0, but am not sure how this package specifically comes into it - is it because of the extensive makevars tweakery?

[2017-11-10 00:19] wrathematics commented on #45
Not sure. I don't have access to a Mac myself. Can you post the log?

It's building fine on Linux. Even with `-Wall -pedantic -Wextra` I only see a handful of  "variable set but not used" warnings.

[2017-11-10 02:34] Ironholds commented on #45
Overall output:

[code]

Specific errors:

<img width="738" alt="screen shot 2017-11-09 at 6 31 47 pm" src="https://user-images.githubusercontent.com/2487262/32640199-4bbf16ea-c57c-11e7-856d-db9956a97309.png">

My only hypothesis (from the fact that it's on mac, and the fact that it's mutex-related) is that it pertains to R's decision that in the absence of OSX supporting a decent toolchain for mo

[2017-11-10 02:48] wrathematics commented on #45
Weird. What happens if you put `#include <mach/mach_types.h>` before the first line of maxmind.cpp ?

[2017-11-10 04:23] Ironholds commented on #45
Iii..no longer know because I just upgraded to High Sierra at which point the problem fixed itself. _macs_.  @ashlevitt what happens if you bump up to High Sierra?

[2017-11-10 08:19] #44 closed

[2017-11-10 08:19] Ironholds commented on #44
Should be now in the development version - let me know if it works for you?

[2017-11-10 12:24] wrathematics commented on #45
You could try [rhub](https://github.com/r-hub/rhub) for testing. They have `macos-elcapitan-release` and `macos-mavericks-oldrel` platforms, matching what's on CRAN.

Incidentally, the package is passing CRAN's checks on 10.9 but failing on 10.11 https://cran.r-project.org/web/checks/check_results_rgeolocate.html

[2017-11-10 19:52] ashlevitt commented on #45
I haven't upgraded to High Sierra yet, and probably won't be able to until
this weekend. I'll let you know what happens once I do.

On Thu, Nov 9, 2017 at 10:23 PM, Oliver Keyes <notifications@github.com>
wrote:

[2017-11-10 22:52] Ironholds commented on #45
Thanks both!

[2017-11-10 22:54] Ironholds opened #46 "Integrate ipinfo"
https://twitter.com/ipinfoio should be integrated, in line with the db-api connector and similar.

[2017-11-10 22:55] Ironholds opened #47 "Update internal datasets"

[2017-11-10 22:59] Ironholds commented on #45
How weird - r-hub's 10.11 is fine with it! https://builder.r-hub.io/status/rgeolocate_1.1.90000.tar.gz-012ad8b5f3f94e55b0a319fe3d79d20c

[2017-11-11 21:06] #47 closed

[2017-11-13 18:14] ashlevitt commented on #45
I upgraded to High Sierra today, and tried to install it again, and it
failed again. Here's what I see in my R console:

Package which is only available in source form, and may need
  compilation of C/C++/Fortran: ‘rgeolocate’
Do you want to attempt to install these from sources?
y/n: y
installing the source package ‘rgeolocate’

trying URL 'https://cran.rstudio.com/src/contrib/rgeolocate_1.0.1.ta

[2017-11-13 18:23] Ironholds commented on #45
'checking whether the C compiler works...no' seems to be the operant line. HUH. Do you have xcode and the related developer tools installed?

[2017-11-13 18:29] ashlevitt commented on #45
I have devtools installed. I don't have xcode. I tried installing it and it
said xcode not available for R 3.4.1.

Also, my background is more in analysis/stats, not programming, so I'm
pretty naive on diagnosing/resolving issues like this. But I'm willing to
help if you provide the guidance.

On Mon, Nov 13, 2017 at 12:23 PM, Oliver Keyes <notifications@github.com>
wrote:

[2017-11-14 01:47] Ironholds commented on #45
Ah, sorry, my bad - xcode is a mac package rather than an R package. See [here](https://stackoverflow.com/questions/44992176/compile-r-packages-from-source-mac-os-x)!

[2017-11-14 05:15] #46 closed

[2017-11-14 18:39] bearloga commented on #45
Another weird issue: compiling with **clang++** worked for me (you need to install Xcode Command Line Tools via `xcode-select --install` after installing [Xcode from Mac App Store](https://itunes.apple.com/us/app/xcode/id497799835?mt=12))

What didn't work for me was using **g++-7**:

[code]

[2017-11-14 18:53] wrathematics commented on #45
Hmm. What happens if you add `PKG_LIBS = -lpthread` as a new line to `src/Makevars.in`?

[2017-11-14 21:19] bearloga commented on #45
Same error

[2017-11-25 01:36] Ironholds commented on #45
https://github.com/RcppCore/Rcpp/pull/742/files more detail here. Is it as simple as: one must find R's internal C++ compiler and ping off that if it's available?

[2017-12-28 01:58] Ironholds commented on #45
I wonder if https://github.com/envoyproxy/envoy/pull/1785 is the source..

[2017-12-28 01:58] Ironholds commented on #45
(I mean, well, not SOURCE but an example of the same underlying problem)

[2018-01-08 14:15] j-p-courneya opened #48 "rgeolocate error limiting my R functionality"
Hi, Sorry if this is not the right forum for reporting Im still new to communicating through GitHub. I have been having an issue with rgeolocate for a few days now. when i launched Rstudio i got a loadnamespace error related to rgeolocate. So i tried installing and this was what I did:

`

Package which is only available in source form, and may need compilation of
  C/C++/Fortran: ‘rgeolocate’
Do

[2018-01-09 00:32] Ironholds commented on #48
Same as #45 , maybe? Does it output any more error than that?

[2018-01-19 00:22] zhudanyang008 commented on #48
Hi, I also got the same problem. Even after I installed the 'rgeolocation' package, everytime when I launch my Rstudio, the same error message appears. Also, if I attempt to knit, the same error message pops up, like this:

Then I check whether this package is installed in the right directory. Unfortunately, this time another type of error message pops up, like this:

I really don't know how to de

[2018-01-19 06:38] Ironholds commented on #48
Does the RStudio packages panel say the package is installed?

[2018-01-19 17:10] zhudanyang008 commented on #48
Hi Oliver! Thank you for your response.
No. I cannot find it in the installed list even after I manually move the
package folder to the right directory where other packages are stored.
I don’t need ‘rgeolocation’ package now, and I didn’t type anything about
installing a certain package in the R console. However, the error message
just stick around, telling me that ‘Error in the Namespace’ or some

[2018-01-19 17:36] Ironholds commented on #48
Ok, in no particular order:

1. This is very clearly a different bug from the originally reported bug in this thread. In the future it would be good to ensure that this is reflected by it being a separate issue.
2. This is not a bug with rgeolocate
3. I would really strongly recommend not manually moving package folder to directories.
4. The reason you're getting these errors is because you modifi

[2018-01-19 18:13] zhudanyang008 commented on #48
Hi Oliver,

Thanks a lot for your explanation. I think I might unconsciously modify the
Rstudio setup by adding some codes in Rstudio because I am a beginner in R
programming. I just want to double check with you to see whether this is
the code that you mentioned to be deleted?  I opened the "Rprofile.site"
with R and attached is the page with codes. I really appreciate your help.

Best,

Danyang

[2018-01-19 18:25] Ironholds commented on #48
Hey Danyang,

I don't see any attached file (email attachments don't transfer over, I'm afraid) but it's the code you added in your timezone command:

[code]

[2018-01-19 21:56] zhudanyang008 commented on #48
Hi Oliver,

Exactly. That's the contents in my Rprofile.site file after I opened it in
R. So am I supposed to delete all these codes from the Rprofile.site?

Thank you,

Danyang

On Fri, Jan 19, 2018 at 1:25 PM, Oliver Keyes <notifications@github.com>
wrote:

[2018-01-19 22:18] zhudanyang008 commented on #48
Hi Oliver,

I did that and it worked out quite well. I am writing to let you know that
I really appreciate your time and patience.

Have a great weekend!

Best,

Danyang

On Fri, Jan 19, 2018 at 4:56 PM, Danyang Zhu <dxz214@case.edu> wrote:

[2018-01-20 02:41] Ironholds commented on #48
No problem! Glad I could help :)

[2018-01-20 06:02] Ironholds commented on #48
And @j-p-courneya any update on my questions?

[2018-01-20 06:02] Ironholds commented on #45
@ashlevitt @bearloga any change in this as time and updates progress?

[2018-01-21 00:28] bearloga commented on #45
Installing via `devtools::install_github` **and** installing from CRAN worked now for me! :D Current environment:

- macOS 10.12.6 with Xcode 9.2 and clang-900.0.39.2
- R 3.4.3 with Rcpp 0.12.15

[2018-01-21 04:50] Ironholds commented on #45
Yay! :D

[2018-01-22 14:59] ashlevitt commented on #45
Sorry for the delay.  I've been swamped with work getting ready for a huge
tradeshow starting tomorrow and going for a week.  I'll take a look again
when I get back.

On Sat, Jan 20, 2018 at 12:02 AM, Oliver Keyes <notifications@github.com>
wrote:

[2018-01-22 17:18] Ironholds commented on #45
That's totally fair! I hope it goes well!

[2018-01-29 23:59] sara-lumos commented on #45
I'm getting the same errors as shown by @Ironholds above:

[code]

Adding `#include <mach/mach_types.h>` on the first line of `maxmind.cpp` as suggested by @wrathematics takes care of the first two errors, but not the third (`use of undeclared identifier 'pthread_mach_thread_np'`). Attempting to install from CRAN vs github produces the same errors.

Environment:
* macOS 10.12.6
* Xcode 9.2
* clang

[2018-01-30 16:39] Ironholds commented on #45
Now that's just confusing. Darn! Upping the mac to 10.13 do anything?

[2018-01-30 17:30] sara-lumos commented on #45
Unfortunately, I'm not at liberty to upgrade to High Sierra just yet (company machine). Any chance of a compilation workaround for Sierra?

[2018-01-31 04:01] Ironholds commented on #45
I'd love to, but I'm still not sure what causes that third error :(. I assume some other R package has had to patch around whatever is causing it, but..

[2018-03-08 02:43] PingTrip opened #49 "Unable to extract 'organization' field from GeoLite2-ASN.mmdb"
Example:

[code]

A quick check of the MMDB with Python verifies the Org data exisits:

[code]

[2018-03-10 11:52] PingTrip commented on #49
The answer was staring me in the face... I realized I was referencing the incorrect data mapping ("organization" vs "aso") for the ASN database.
[code]

[2018-03-10 11:52] #49 closed

[2018-06-26 16:32] randomgambit opened #50 "does not work with ASN database from maxmind?"
Hello and thanks for this much needed R package!

It seems that `rgeolocate` cannot work with the `ASN` database shipped (freely) by maxmind.
I am getting

 Is that the case?
Thanks!

[2018-06-27 02:19] Ironholds commented on #50
It should work fine; if you look at the docs for the maxmind function (`?maxmind`) you'll see that it expects 'asn' as a field name, rather than 'autonomous_system_organization'. Try that and let me know if it still objects?

Thanks!

[2018-06-27 20:42] randomgambit opened #51 "compatibility with tidyverse?"
I am trying to make `rgeolocate` work within a `mutate` call. I found out a way but I wonder if the package could support that natively

[code]

it could be the case that doing this actually decreases the performance of the `maxmind` call... What do you think?
Thanks!

[2018-06-27 20:42] randomgambit commented on #50
thank you!

[2018-06-28 01:35] randomgambit opened #52 "compatibility with the legacy maxmind .dat database?"
Hello @Ironholds sorry to create so many tickets right now! it is just that I absolutely need to use R to read the `maxmind` dataset and your package seem to be the only viable option!

How can I use `rgeolocate` to load the legacy `csv` or `dat` databases (https://dev.maxmind.com/geoip/legacy/geolite/)?

The vignette seem to suggest that the package than work with that, but I keep getting some er

[2018-07-01 12:28] randomgambit commented on #52
@Ironholds  how are you? What do you think about this? this is an important issue because only legacy `dat` files are available before 2015 or so...

Thanks!!

[2018-07-03 05:04] Ironholds commented on #51
What do you mean by support it natively?

[2018-07-03 05:05] Ironholds commented on #52
I'm fine, albeit somewhat bemused as to why a 3-day delay in response was sufficient for an additional poke? What in the vignette suggests that this should work with the legacy datasets?

[2018-07-03 10:36] randomgambit commented on #52
well you mention that

`rgeolocate aims to be a single generalised package for geolocation`

so one could think that it supports the legacy `maxmind` dat files that were available only a few years ago.

[2018-07-03 14:56] randomgambit commented on #51
nahh, well I guess this can work as well. I would recommend you put this snipped on your vignette (considering how popular `dplyr` is)

Thanks

[2018-07-03 14:56] #51 closed

[2018-07-04 02:41] Ironholds commented on #52
Fair! But 'generalised' does not mean 'describes everything'; while there is a legacy C API it is not integrated here because (1) it's leaky as all heck and would make the package unstable; (2) it is rather large and the package is already somewhat above the CRAN guidelines for package size, and; (3) the legacy API has been 'legacy' since at least 2014 or, to put it another way, for 66% of MaxMind

[2018-07-04 02:41] #52 closed

[2018-07-04 02:42] Ironholds commented on #51
I'm still confused about what you were asking for, I guess? Like, that wasn't in opposition, just literally: how else should it work?

[2018-07-05 13:57] randomgambit commented on #52
@Ironholds thanks, I understand. the issue is that I cannot use python because I am using R on Spark... so if I understant there is NO R package that is able to work with the old .dat file?

[2018-07-05 23:26] Ironholds commented on #52
Not to my knowledge; there was an extremely buggy internal prototype but absent a tarball existing in someone's email account I'd consider it dead :(

[2019-04-17 13:08] antoine-sachet opened #53 "Request: bindings for ipstack"
Binding for IP stack (https://ipstack.com/) would be great. They provide a great free tier suitable for commercial use (which is quite rare).

Here is the documentation https://ipstack.com/documentation

[2019-06-05 22:15] veita opened #54 "Possible character encoding bug with city names"
Some city names show character encoding errors. E.g.

[code]

gives output `DÃ¼sseldorf` in RStudio's console as well as in displayed data frames.

As far as I undertand the [MaxMind DB File Format Specification](https://maxmind.github.io/MaxMind-DB/) the encoding in the database itself should be `UTF-8`.

Operating system: Windows 7

GeoLite2-City download from https://geolite.maxmind.com/downloa

[2019-08-06 17:23] trakru opened #55 "invalid database type for api_key"
When i try to run a basic db_ip(), i get a failure message "invalid database type for api key"

I purchased a premium API key from db-ip.com

`db_ip(ip_addresses = "174.101.243.103", key = "my_key")`

                              error
"invalid database type for api key"

[2019-08-07 15:55] trakru commented on #55
found the issue - the developer has changed the API url. Updated in my code

[2019-08-07 15:55] #55 closed

[2019-10-17 14:42] jlacko opened #57 "Field mismatch between ip_api() compared to ip-api.com directly"
There seems to be a mismatch in fields returned by R function and the IP-API website; to reproduce please compare results from: `rgeolocate::ip_api("193.35.107.134")` and https://ip-api.com/#193.35.107.134 - the website results look sensible, but those from the R function not.

![Screenshot from 2019-10-17 16-42-00](https://user-images.githubusercontent.com/29260421/67019530-19196e80-f0fd-11e9-9f0

[2019-10-17 17:17] vladc commented on #57
This package parses the raw JSON line by line, and we've recently changed the order of the returned fields.

I did some previous work on a new version, but I didn't finish performance improvements/testing. Can you please test this? I'll make a pull request if everything seems ok
https://github.com/vladc/rgeolocate/tree/batch

_disclaimer: part of ip-api staff_

[2019-10-17 19:53] jlacko commented on #57
Thanks for your prompt reply!

The fields were not quite OK, but I was able to tweak them by rearranging the index. You have got a pull request.

Thanks again for taking care, I was able to work with your code - but the original raw parser was beyond my limited C++ knowledge.

[2019-10-18 12:20] jlacko commented on #57
@vladc I have tried the batch branch (and not master as earlier) and yes, the results are correct.

[2019-12-04 13:36] scriptkitty opened #59 "Undefined symbol "shm_open""
Hi,
loading rgeolocate fails with the following error:

```rgeolocate.so: undefined symbol: shm_open```

Apparently, this is due to R changing the default linking flags, and there's [already a pull request for it](https://github.com/Ironholds/rgeolocate/pull/56), but applying these changes locally does not resolve the issue for me.

Any help would be greatly appreciated.

[2020-02-18 20:26] j-p-courneya commented on #48
dear @Ironholds apologies for letting this fall through the cracks. i am going to close it as i have completely lost touch with my issue and am not on that machine. However i greatly appreciate the questions that have prompted me to consider some alternate behaviors in my package management practices.

[2020-02-18 20:26] #48 closed

[2020-04-02 18:49] ivokwee commented on #59
Yes. I have the same issue. Is there a solution?

[2020-04-02 19:03] ivokwee commented on #59
Compiling the shared library by hand, adding the -lrt, then copying the library to /usr/local/lib seems to work. How to put it in the R package code?

`g++ -shared -L/usr/lib64/R/lib -Wl,-Bsymbolic-functions -Wl,-z,relro -o rgeolocate.so IP2Loc_DBInterface.o IP2Location.o RcppExports.o ip2.o ip_to_df.o maxmind.o maxminddb.o rgeolocate.o -L/usr/lib64/R/lib -lR -lrt`

`cp rgeolocate.so /usr/local/li

[2020-04-24 04:15] Ironholds commented on #59
Should now be fixed.

[2020-04-24 04:15] #59 closed

[2020-04-24 04:17] Ironholds commented on #57
Should now be fixed.

[2020-04-24 04:17] #57 closed

[2020-04-24 04:17] #45 closed

[2021-11-18 21:38] ralikwen opened #60 "serious mixup (hopefully) in the help file"
• longitude: latitude of location. Requires a city database.
• latitude: longitude of location. Requires a city database

[2021-12-18 21:16] #60 closed

[2022-01-27 01:41] Uriel-Carrasquilla opened #62 "asn field is showing NA even when available in MaxMind"

[2022-01-27 01:43] Uriel-Carrasquilla commented on #62
when using inspect, I get the autonomous system.  when using rgeolocate, it shows "NA" i.e. not-available.
./mmdbinspect -db ~/geoip/GeoIP2-Enterprise.mmdb 172.217.5.100
[
    {
        "Database": "/home/uriel/geoip/GeoIP2-Enterprise.mmdb",
        "Records": [
            {
                "Network": "172.217.5.100/19",
                "Record": {
                    "continent": {

[2022-01-27 19:45] Uriel-Carrasquilla commented on #24
I copied the Enterprise mmdb (from MaxMind) in the .../regeolocate/extdata folder.
Did a "chmod" to match the other mmdb.
Issued the "file<-system.file("extdata","GeoIP2-Enterprise.mmdb", package = "rgeolocate")
The "file" shows the correct file.
It works except that the "asn" cannot be retrieved.
I know it is there because when I inspect the database, I can see the field under "autonomous_system_

[2022-07-06 21:33] rempsyc opened #63 "Support for IPv6 addresses"
Any chance support for IPv6 addresses may be added in the future? It would be nice. I think right now it produces NA values. Reprex:

[code]
<sup>Created on 2022-07-06 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[IP Info](https://www.infobyip.com/ip-2600:8804:6103:d00:9422:e.html) gives the following error page:

But [whatismyipaddress](https://whatismyipaddress.com/ip/26